<div>
  <material-toolbar creationDate="StudentDetailsController.creationDate" />
</div>

<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><a href="#/student">Student</a> <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon> <span>{{StudentDetailsController.student.first_name}}</span> <span>{{StudentDetailsController.student.last_name}}</span></h2>
    </div>
  </md-toolbar>


  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Guardians">
      <div layout="row">
        <div flex></div>
        <div flex-gt-md="75">
          <md-content class="md-padding">
            <h1 class="md-display-2">Guardians</h1>
            <md-list>
              <div ng-repeat="guardian in StudentDetailsController.guardians">
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-click="StudentDetailsController.viewGuardianDetails(guardian, $event)">
                  <img ng-src="data:image/png;base64,{{guardian.image}}" class="md-avatar" />
                  <div class="md-list-item-text">
                    <h3>{{guardian.first_name + " " + guardian.last_name}}</h3>
                    <p>{{ guardian.relationship }}</p>
                  </div>
                  <md-icon
                    ng-click="StudentDetailsController.updateGuardianStatus(guardian, $event)"
                    aria-label="Open Chat" class="md-secondary md-hue-3"
                    ng-class="{'md-primary': person.newMessage}">
                    <i class="material-icons">time_to_leave</i>
                  </md-icon>
                </md-list-item>
              </div>
              <md-divider></md-divider>
            </md-list>
          </md-content>
        </div>
        <div flex></div>
      </div>
    </md-tab>

    <md-tab label="Student Details">
      <div layout="row">
        <div flex></div>
        <div flex-gt-md="75">
          <md-content class="md-padding">
            <div layout="row">
              <div flex>
                <img ng-src="data:image/png;base64,{{StudentDetailsController.student.image}}"  />
              </div>
              <div flex>
                <label>First Name: </label>{{StudentDetailsController.student.first_name}}<br />
                <label>Last Name: </label>{{StudentDetailsController.student.last_name}}<br />
                <label>Grade: </label>{{StudentDetailsController.student.grade}}<br />
                <label>Date of Birth: </label>{{StudentDetailsController.student.dob}}<br />
                <label>Address: </label>{{StudentDetailsController.student.address}}<br />
              </div>
            </div>
          </md-content>
        </div>
        <div flex></div>
      </div>
    </md-tab>
  </md-tabs>

</div>


<md-button ng-click="StudentDetailsController.addGuardian($event)" class="md-fab" aria-label="Add" style="position: fixed; right: 35px; bottom: 25px;">
  <md-icon><i class="material-icons">add</i></md-icon>
</md-button>

