<md-dialog aria-label="Add Student">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Student</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="AddStudentController.cancel()">
          <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px; max-height:810px;">
      <md-button class="md-primary md-hue-2" ngf-select ng-model="file" name="file" ngf-pattern="'image/*"
                 accept="image/*" ngf-max-size="20MB" ngf-min-height="100">Upload Photo
      </md-button>

      <div layout="row">
        <md-input-container>
          <label>First Name</label>
          <input ng-model="AddStudentController.firstName" type="text">
        </md-input-container>

        <md-input-container>
          <label>Last Name</label>
          <input ng-model="AddStudentController.lastName" type="text">
        </md-input-container>
      </div>
      <div layout="row">

        <md-input-container flex>
          <label>Date of Birth</label>
          <input ng-model="AddStudentController.dob" type="date">
        </md-input-container>

        <md-input-container flex>
          <label>Current Grade</label>
          <input ng-model="AddStudentController.grade" type="number" min="0" max="12">
        </md-input-container>
      </div>

      <md-input-container>
        <label>Address</label>
        <input ng-model="AddStudentController.address" type="text">
      </md-input-container>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <md-button ng-click="AddStudentController.cancel()">
        Cancel
      </md-button>
      <md-button class="md-primary" ng-click="AddStudentController.confirm()" style="margin-right:20px;">
        Confirm
      </md-button>
    </div>
  </form>
</md-dialog>
