.login-page {
  //position: fixed;
  //left: 0;
  //right: 0;
  //top: 0;
  //bottom: 0;
  //background: url(../assets/images/lights-night-unsharp-blured-large.jpg) no-repeat center center fixed;
  //background-size: cover;


  .md-whiteframe-z1 {
    background-color: #ffffff;
    margin-top: 35%;
    padding: 0 15px 25px 15px;
  }


  button[type="submit"] {
    width: 100%;
  }
}
